<div class="navbar-fixed">
    <nav style="background-color: darkslategrey;">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo flow-text">KarmaaLab Pic</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">LearnNet</a></li>
                <li><a href="#">Karmaa Lab</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="#">LearnNet</a></li>
                <li><a href="#">Karmaa Lab</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </nav>
</div>