<header>

    <div class="">
        <nav class=" " id='MainNav' style="margin-right: 600px;top: 100px;" role="navigation">
            <div class="container nav-wrapper">
                <a style="margin-left: 2em;font-weight: 900;" id="LearnNetLogo" href='www.karmaalab.com' class=" flow-text"><span class="white-text"><u>Karmaa</u></span><span class="blue-text"><u>Lab</u></span></a>
                <ul class="right">
                    <li><a class="white-text " style="font-size:18px; " href='www.karmaalab.com' >KarmaaLab </a> </li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
</header>